<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="keywords" content="php, symfony, cakephp, delphi ">
        <meta name="description" content="Programista symfony, Programista php, Portfolio Jacek Brzeziński">
        <title>{% block title %}Portfolio Jacek Brzeziński!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.my.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {#{{ pathToWeb }}#}
        <div class="container" style="margin-top: 15px">
            {% if is_granted("ROLE_USER") %}
                {% include("menuAuthenticated.html.twig") %}
            {% else %}
                {% include("menuAnonymous.html.twig") %}
            {% endif %}
        </div>

        <div class="container">
            {%  for message in app.flashes("success") %}
                <div class="alert alert-info" role="alert">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
            {%  for message in app.flashes("error") %}
                <div class="alert alert-danger" role="alert">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        </div>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <div class="container">
            <div class="footer">
                <hr>
                <p class="text-center">copyright 2018</p>
            </div>
        </div>


        {% block javascripts %}
            <script src="{{ asset('vendor/jquery/dist/jquery.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            <script>
                $(document).ready(function (){
                            $('.switch').click(function(){
                                $('.nav').toggleClass('visible');
                            });
                });
            </script>
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127169172-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'UA-127169172-1');
            </script>
            {% if articles is defined %}

            <script>
                var articles =[{% for article in articles %}{{- "\"a#{article.id}\","|raw -}}{% endfor %} ];
                $( document ).ready(function() {
                   Animate(0);
                });
            </script>
            {% endif %}

        {% endblock %}
    </body>
</html>
