<div class="panel panel-body nav_bg shadow">
    <div id="logo">
        <h3 style="float:left; margin-top:5px;"> <a href="{{ url("article_index") }}"> Portfolio </a><span class="text-primary font-italic">{{ app.user.firstName }} {{ app.user.lastName }}</span> &nbsp; </h3>
    </div>
    <ul class="nav nav-pills">
        <li role="presentation"><a href="{{ url("my_article_index") }}">Artuykuły</a></li>
        <li role="presentation"><a href="{{ url("article_add") }}">Dodaj artykuł</a></li>
        <li role="presentation"><a href="{{ url("fos_user_security_logout") }}">Wyloguj się</a></li>
        {%  if app.environment == 'dev' %}
            <li role="presentation" class=""><a href="{{ url('pdf') }}" download>Pdf</a></li>
        {% endif %}
    </ul>
    <button  type="button" class="switch btn btn-default btn-sm" >
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </button>
    <div class="logo-symf">
        {% include 'Logo/SymfLogo.html.twig' %}
    </div>
 </div>