<div class="panel panel-body nav_bg shadow">
    <div id="logo">
<<<<<<< HEAD
        <h3 style="float:left; margin-top:5px;"> <a href="{{ url("article_index") }}"> Portfolio </a><span class="text-primary font-italic">{{ app.user.firstName }} {{ app.user.lastName }}</span> &nbsp; </h3>
=======
        <h3 style="float:left; margin-top:5px;"> Portfolio <span class="text-primary font-italic">{{ app.user.firstName }} {{ app.user.lastName }}</span> &nbsp; </h3>
>>>>>>> 8e271d3cf4e8ad276868f3b207823c441c349c6a
    </div>
    <ul class="nav nav-pills">
        <li role="presentation"><a href="{{ url("my_article_index") }}">Artuykuły</a></li>
        <li role="presentation"><a href="{{ url("article_add") }}">Dodaj artykuł</a></li>
        <li role="presentation"><a href="{{ url("fos_user_security_logout") }}">Wyloguj się</a></li>
    </ul>
    <button  type="button" class="switch btn btn-default btn-sm" >
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </button>
 </div>