{% extends "base.html.twig" %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Edycja #{{ form.vars.value.id }}
                {{ form_start(deleteForm, {"attr": {"class": "pull-right"}}) }}
                {{ form_widget(deleteForm.submit, {"attr": {"class": "btn-danger"}}) }}
                {{ form_rest(deleteForm) }}
                {{ form_end(deleteForm) }}
 &nbsp;
                {{ form_start(textForm, {"attr": {"class": "pull-right"}}) }}
                {{ form_widget(textForm.submit, {"attr": {"class": "btn-info"}}) }}
                {{ form_rest(textForm) }}
                {{ form_end(textForm) }}
            </h3>
        </div>
        <div class="panel-body">
            {{ form(form, {"attr": {"novalidate": "novalidate"}}) }}
            {# form(deleteForm ) #}
        </div>
    </div>
    {% include("MyArticle/text.html.twig") %}
{% endblock %}
