{% extends "base.html.twig" %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Edycja #{{ form.vars.value.id }}
                {{ form_start(deleteForm, {"attr": {"class": "pull-right"}}) }}
                {{ form_widget(deleteForm.submit, {"attr": {"class": "btn-danger"}}) }}
                {{ form_rest(deleteForm) }}
                {{ form_end(deleteForm) }}

                {{ form_start(dataTableForm, {"attr": {"class": "pull-right"}}) }}
                {{ form_widget(dataTableForm.submit, {"attr": {"class": "btn", "style": "margin-right: 20px"}}) }}
                {{ form_rest(dataTableForm) }}
                {{ form_end(dataTableForm) }}

                {{ form_start(itemForm, {"attr": {"class": "pull-right"}}) }}
                {{ form_widget(itemForm.submit, {"attr": {"class": "btn", "style": "margin-right: 20px"}}) }}
                {{ form_rest(itemForm) }}
                {{ form_end(itemForm) }}

            </h3>
        </div>
        <div class="panel-body">
            {{ form(form, {"attr": {"novalidate": "novalidate"}}) }}
            {# form(deleteForm ) #}
        </div>
        {{ dump(article) }}
    </div>

{% endblock %}
