{% extends 'base.html.twig' %}

{% block body %}

<div class="row">


    {% for article in articles %}
        <div class="col-md-4">
            <div class="panel panel-default shadow" >
                <div class="panel-heading">
                    <div class="panel-title ">
                        <b>{{ article.title }}</b>
                        <a href="{{ url("article_edit", {"id": article.id}) }}">
                            <span class="glyphicon glyphicon-menu-hamburger pull-right" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="box panel-text">
                    {{ article.content | raw }}
                    </div>

                </div>
                <div class="panel-footer" style="padding-bottom:25px;">
                    {% if article.file|trim|length > 0 %}

                        <a class="pull-right" href="{{ asset("/pub/" ~ article.file) }}" download >
                            {{ article.file }}
                        </a>

                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
 </div>


{% endblock %}
