{% extends 'base.html.twig' %}



{% block body %}

<div class="row">


    {% for article in articles %}
        <div class="col-md-4">
            <div class="panel panel-default shadow"  >
                <div class="panel-heading">

                        <b>{{ article.title }} &nbsp; (#{{ article.id }})</b>
                        <a href="{{ url("article_edit", {"id": article.id}) }}">
                            <span class="glyphicon glyphicon-menu-hamburger pull-right" aria-hidden="true"></span>
                        </a>
                </div>
                <div class="panel-body box"  id="b_{{ article.id }}" >
                    {{ article.content | raw }}
                </div>
                <div class="panel-footer">
                    {% if article.file|trim|length > 0 %}
                        <a class="foo-link pull-right" href="{{ asset("/pub/" ~ article.file) }}" download >
                            {{ article.file }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {%  else %}
        {{ include('emptyArticleIndex.html.twig',{ 'article': article}) }}
    {% endfor %}
 </div>


{% endblock %}
