{% extends "base.html.twig" %}

{% block body %}
    <div class="panel {{ auctionStyle(auction.expiresAt) }}">
        <div class="panel-heading">
            <h4>{{ auction.title }}</h4>
        </div>
        <div class="panel-body">
            <p>{{ auction.description }}</p>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Cena: {{ auction.price }} zł</li>
            <li class="list-group-item">Cena wywoławcza: {{ auction.startingPrice }} zł</li>
            <li class="list-group-item">Aukcja kończy się: {{ auction.expiresAt | date("Y-m-d H:i:s")}} </li>
        </ul>
    </div>

    </br>

    <div class="panel panel-default">
        <ul class="list-group">
            {% for offer in auction.offers %}
                <li class="list-group-item">Ofrta {{ offer.price }} zł, złożona {{ offer.createdAt | date("Y-m-d H:i:s")  }}</li>
            {% endfor %}
        </ul>
    </div>



        <a class="btn btn-secondary pull-left" href="{{ url('my_auction_index') }}">Powrót</a>
        <a class="btn btn-info pull-left" href="{{ url("my_auction_edit", {"id": auction.id}) }}">Edytuj</a>
        {# <a class="btn btn-warning" href="{{ url('auction_edit', {"id": auction.id}) }}">Zmień</a> #}

        {# mozna taka ale z otoczka div
            {{ form(deleteForm) }}
            {{ form(finishForm) }}
        #}
        {{ form_start(deleteForm, {"attr": {"class": "pull-left"}}) }} {# rozpoczecie form #}
            {{ form_widget(deleteForm.submit, {"attr": {"class": "btn-danger"}}) }} {# konkretn pole#}
            {{ form_rest(deleteForm) }} {#generowanie dodatkowego pola z metodą i tokenem CSRF   dorzuca wszystko co nie zostalo wyrendeerowane INPUT-y#}
        {{ form_end(deleteForm) }} {# zamykamy form #}

        {{ form_start(finishForm, {"attr": {"class": "pull-left"}}) }} {# rozpoczecie form #}
            {{ form_widget(finishForm.submit, {"attr": {"class": "btn-warning"}}) }} {# konkretn pole#}
            {{ form_rest(finishForm) }} {#generowanie dodatkowego pola z metodą i tokenem CSRF   dorzuca wszystko co nie zostalo wyrendeerowane INPUT-y#}
        {{ form_end(finishForm) }} {# zamykamy form #}



    <div class="clearfix"></div>




{% endblock %}
