{% extends 'base.html.twig' %}

{% block body %}



<div class="row">


    {% for article in articles %}
        <div class="col-md-4" id="a{{ article.id }}" style="top:1300px; opacity: 0.2;">
            <div class="panel panel-default shadow" >
                <div class="panel-heading">
                        <b>{{ article.title }}</b>
                </div>
                <div  class="panel-body box">
                        {{ article.content | raw}}
                </div>
                <div class="panel-footer">
                    {% if article.file|trim|length > 0 %}
                        <a class="foo-link pull-right" href="{{ asset("/pub/" ~ article.file) }}" download >
                            {{ article.file }}
                        </a>
                    {% endif %}
                </div>

            </div>
        </div>
    {%  else %}
        {{ include('emptyArticleIndex.html.twig') }}
    {% endfor %}
 </div>


{% endblock %}
